<div class="register-container">
    <h2>Registrazione</h2>
    
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
    <input type="text" [(ngModel)]="nome" placeholder="Nome" required />
    <input type="text" [(ngModel)]="cognome" placeholder="Cognome" required />
    <input type="text" [(ngModel)]="username" placeholder="Username" required />
    <input type="email" [(ngModel)]="email" placeholder="Email" required />
    <input type="text" [(ngModel)]="cellulare" placeholder="Cellulare" required />
    <input type="password" [(ngModel)]="password" placeholder="Password" required />
    
    <button (click)="register()">Registrati</button>
    
    <p>Hai già un account? <a routerLink="/login">Accedi</a></p>
  </div>
  
