<div class="container">
    <h1 class="text-center">Prodotti</h1>

    <div class="text-end my-4">
        <a class="btn btn-success" routerLink="create">Crea nuovo prodotto</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Prezzo</th>
                <th scope="col">Quantità</th>
                <th scope="col">Animale</th>
                <th scope="col">Tipologia</th>
                <th scope="col">Marca</th>
                <th scope="col">Descrizione</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let prodotto of data">
                <th scope="row">{{prodotto.id}}</th>
                <td>
                    {{prodotto.prezzo}}
                </td>
                <td>
                    {{prodotto.quantita}}
                </td>
                <td>
                    {{prodotto.animale.nome}}
                </td>
                <td>
                    {{prodotto.tipologia.nome}}
                </td>
                <td>
                    {{prodotto.marca.nome}}
                </td>
                <td>
                    {{prodotto.descrizione}}
                </td>
                <td>
                    <button class="btn btn-warning text-light me-4" routerLink="update" href=""><i
                            class="fa-solid fa-pencil">Update</i></button>
                    <button class="btn btn-danger btn-delete" type="button" (click)="deleteAction(prodotto.id)"><i
                            class="fa-regular fa-trash-can">Elimina</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>