<mat-card class="bg-white  rounded-0 border border-light-subtle border-2 shadow-none">
  <mat-card-title class="text-center p-3">Filtra Prodotti</mat-card-title>
  <mat-card-content class="p-0">
    <form class="d-flex align-items-center flex-wrap flex-column justify-content-center" [formGroup]="filtersForm">
      <mat-form-field appearance="outline" class="search-bar" >
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Cerca..." (keyup)="''">
      </mat-form-field>
      <div
        class="d-flex flex-column justify-content-center align-items-center rounded-0 border-top border-bottom p-2 border-light-subtle border-2 shadow-none w-100">
        <div class="d-flex justify-content-around w-100 ">
          <span>Prezzo</span>
          <div>
            <span>{{ minPrice }}</span>
            <span>-</span>
            <span>{{ maxPrice }}</span>
          </div>
        </div>
        <mat-slider min="0" max="100">
          <input [value]="minPrice" (valueChange)="minPrice = $event" matSliderStartThumb>
          <input [value]="maxPrice" (valueChange)="maxPrice = $event" matSliderEndThumb>
        </mat-slider>
      </div>


      <div class="border-bottom p-2 border-light-subtle border-2 shadow-none w-100 ps-5">
        <label id="example-radio-group-label">Marca</label>
        <mat-radio-group formControlName="nomeMarca" aria-labelledby="example-radio-group-label" class="d-flex flex-column custom-radio">
          <mat-radio-button *ngFor="let marca of marche" class="example-radio-button" [value]="marca.nome">{{marca.nome}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="border-bottom p-2 border-light-subtle border-2 shadow-none w-100 ps-5">
        <label id="example-radio-group-label">Animale</label>
        <mat-radio-group formControlName="nomeAnimale" aria-labelledby="example-radio-group-label" class="d-flex flex-column custom-radio">
          <mat-radio-button *ngFor="let animale of animali" class="example-radio-button" [value]="animale.nome">{{animale.nome}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class=" p-2 w-100 ps-5">
        <label id="example-radio-group-label">Tipologia</label>
        <mat-radio-group formControlName="nomeTipologia" aria-labelledby="example-radio-group-label" class="d-flex flex-column custom-radio">
          <mat-radio-button *ngFor="let tipologia of tipologie" class="example-radio-button" [value]="tipologia.nome">{{tipologia.nome}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center pb-4">
    <button mat-raised-button class="text-dark bg-color" (click)="applyFilters()">Applica Filtri</button>
  </mat-card-actions>
</mat-card>