<header>
    <h1>Condizioni di utilizzo del sito web Crazy-Zoo</h1>
</header>
<main>
    <!-- 1. Utilizzo del Sito Web e sezioni riservate -->
    <section id="utilizzo">
        <h2>1. Utilizzo del Sito Web e sezioni riservate</h2>
        <p>
            Le presenti condizioni d'uso hanno lo scopo di disciplinare l'utilizzo da parte degli utenti del sito web
            <a href="http://www.crazy-zoo.com">www.crazy-zoo.com</a> ("Sito Web") di proprietà di Crazy-Zoo S.r.l., con
            sede legale in Milano (MI) in Via degli Animali n. 5, iscritta presso il Registro delle Imprese di Milano.
        </p>
        <p>
            1.1 L'utilizzo del Sito Web è aperto a tutti gli utenti che dispongano di una connessione Internet e di un
            dispositivo compatibile con la navigazione web. Gli utenti devono inoltre possedere le competenze necessarie
            per l'utilizzo del Sito Web.
        </p>
        <p>
            1.2 Alcune sezioni del Sito Web, quali ad esempio la gestione degli ordini e l'area "MyAccount", sono
            riservate agli utenti registrati, previa creazione di un account personale.
        </p>
    </section>

    <!-- 2. Contenuti del Sito Web -->
    <section id="contenuti">
        <h2>2. Contenuti del Sito Web</h2>
        <p>
            Tutti i contenuti presenti sul Sito Web sono forniti nello stato in cui si trovano e secondo disponibilità.
            Crazy-Zoo S.r.l. non garantisce l’accuratezza, la completezza, l’aggiornamento o l’affidabilità di tali
            contenuti,
            né il corretto funzionamento del Sito Web.
        </p>
        <p>
            Crazy-Zoo S.r.l. declina ogni responsabilità per interruzioni, errori o eventuali danni derivanti
            dall’utilizzo
            del Sito Web.
        </p>
    </section>

    <!-- 3. Link e altri collegamenti ipertestuali -->
    <section id="link">
        <h2>3. Link e altri collegamenti ipertestuali</h2>
        <p>
            Il Sito Web può contenere link e collegamenti ipertestuali che indirizzano l’utente verso pagine di siti web
            di terze parti, sui quali Crazy-Zoo S.r.l. non esercita alcun controllo.
        </p>
        <p>
            L’accesso a tali siti avviene a esclusiva discrezione e rischio dell’utente, e Crazy-Zoo S.r.l. non si
            assume responsabilità per eventuali danni derivanti da tali accessi.
        </p>
    </section>

    <!-- 4. Regole di utilizzo del Sito Web -->
    <section id="regole">
        <h2>4. Regole di utilizzo del Sito Web</h2>
        <p>
            L'utente, nell'utilizzo del Sito Web, si impegna a:
        </p>
        <ul>
            <li>Non caricare, postare o rendere visibili contenuti illegali, offensivi, diffamatori o in violazione dei
                diritti di terzi;</li>
            <li>Non diffondere comunicazioni pubblicitarie o promozionali non autorizzate;</li>
            <li>Non caricare materiale contenente virus o codice dannoso per il funzionamento del Sito Web;</li>
            <li>Non compromettere la funzionalità del Sito Web o violare le regole delle reti ad esso collegate;</li>
            <li>Non fornire informazioni false o fuorvianti, anche in relazione all’identità;</li>
            <li>Non utilizzare strumenti di pagamento contraffatti o illeciti per gli acquisti effettuati tramite il
                Sito Web;</li>
            <li>Conservare con diligenza le credenziali di accesso al Sito Web, proteggendole da usi non autorizzati;
            </li>
            <li>Non effettuare operazioni di reverse engineering o altre tecniche volte a dischiudere le funzionalità
                del Sito Web;</li>
            <li>Non copiare o riprodurre i contenuti del Sito Web in violazione dei diritti di proprietà intellettuale
                di Crazy-Zoo S.r.l.;</li>
            <li>Agire con correttezza e lealtà, evitando l’uso del Sito Web per finalità illecite o dannose.</li>
        </ul>
    </section>

    <!-- 5. Responsabilità -->
    <section id="responsabilita">
        <h2>5. Responsabilità</h2>
        <p>
            Crazy-Zoo S.r.l. non assume alcuna responsabilità e non fornisce garanzie riguardo al Sito Web, alla sua
            accessibilità o ai contenuti in esso presenti, salvo in caso di dolo o colpa grave, o quando diversamente
            previsto dalla legge.
        </p>
        <p>
            Tutte le informazioni pubblicate sul Sito Web sono di natura meramente indicativa, e il loro utilizzo resta
            a esclusiva discrezione e responsabilità degli utenti.
        </p>
        <p>
            Crazy-Zoo S.r.l. esclude ogni responsabilità per perdite o danni, diretti o indiretti, derivanti
            dall’utilizzo del Sito Web.
        </p>
    </section>

    <!-- 6. Proprietà intellettuale -->
    <section id="proprieta">
        <h2>6. Proprietà intellettuale</h2>
        <p>
            Tutti i contenuti, i dati e le informazioni presenti sul Sito Web sono di proprietà esclusiva di Crazy-Zoo
            S.r.l. e sono protetti dalle normative vigenti in materia di proprietà intellettuale.
        </p>
        <p>
            L’utilizzo, anche parziale, dei contenuti del Sito Web al di fuori degli scopi espressamente consentiti è
            vietato e richiede il previo consenso scritto di Crazy-Zoo S.r.l.
        </p>
    </section>

    <!-- 7. Dati personali e Cookies -->
    <section id="dati">
        <h2>7. Dati personali e Cookies</h2>
        <p>
            Crazy-Zoo S.r.l. può trattare dati personali degli utenti che utilizzano il Sito Web (quali dati anagrafici,
            dati di navigazione, URL di accesso, dati di pagamento, ecc.) nel rispetto del Regolamento UE 679/2016
            (GDPR) e delle normative nazionali vigenti.
        </p>
        <p>
            Per maggiori informazioni sul trattamento dei dati personali, si rimanda all'informativa sul trattamento dei
            dati ex art. 13 GDPR, consultabile al seguente link: <a href="#">PRIVACY POLICY</a>.
        </p>
        <p>
            Il Sito Web utilizza cookies per migliorare l’esperienza di navigazione e per raccogliere informazioni
            statistiche. Per ulteriori dettagli, si rimanda alla cookie policy, consultabile al seguente link: <a
                href="#">COOKIE POLICY</a>.
        </p>
    </section>

    <!-- 8. Modifiche e Aggiornamento -->
    <section id="modifiche">
        <h2>8. Modifiche e Aggiornamento</h2>
        <p>
            Crazy-Zoo S.r.l. si riserva il diritto di modificare o integrare, in qualsiasi momento e senza preavviso, le
            presenti condizioni di utilizzo del Sito Web, fermo restando il rispetto dei diritti già acquisiti dagli
            utenti.
        </p>
        <p>
            Le eventuali modifiche saranno comunicate mediante pubblicazione sul Sito Web.
        </p>
        <p>
            AGGIORNAMENTO: 8 NOVEMBRE 2024
        </p>
    </section>

    <!-- Contatti -->
    <section id="contatti">
        <h2>Contatti</h2>
        <p>
            Per ulteriori informazioni o richieste relative alle presenti condizioni d'uso, è possibile contattare
            Crazy-Zoo S.r.l. all'indirizzo email:
            <a href="mailto:info@crazy-zoo.com">info&#64;crazy-zoo.com</a> o consultare la sezione "Contatti" del sito
            <a href="http://www.crazy-zoo.com">www.crazy-zoo.com</a>.
        </p>
    </section>
</main>