<table class="table table-success table-striped">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let marca of listMarca">
            <td>{{marca.nome}}</td>
            <td><a [routerLink]="['/admin/marca/update', marca.id]" class="btn btn-warning">Update</a></td>
            <td><button (click)="onDelete(marca.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>
