<div class="container">
    <h1 class="text-center">Tipologia</h1>

    <div class="text-end my-4">
        <a class="btn btn-success" routerLink="create">Crea nuova Tipologia</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipologia of data">
                <th scope="row">{{tipologia.id}}</th>
                <td>
                    {{tipologia.nome}}
                </td>
                <td>
                    <button class="btn btn-warning text-light me-4" routerLink="update/{{tipologia.id}}" href=""><i
                            class="fa-solid fa-pencil">Update</i></button>
                    <button class="btn btn-danger btn-delete" type="button" (click)="deleteAction(tipologia.id)"><i
                            class="fa-regular fa-trash-can">Elimina</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>