<div class="card border-0" style="width: 18rem;">
    <div class="shadow rounded-3"><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img-top" alt="..."></div>
   
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <div class="d-flex justify-content-around">
        
        <div>
            <span matTextPrefix>€&nbsp;</span>
            <span>30</span>
        </div>
        <button class="btn btn-primary">dettaglio</button>
      </div>
    
      
    </div>
  </div>