<div class="card border-0" style="width: 18rem;">
    <a [routerLink]="['/prodotti', cardData.prodotto.id]">
    <div class="shadow rounded-3"><img [src]="imageUrl || 'https://img.freepik.com/foto-gratuito/superficie-e-strutture-astratte-del-muro-di-pietra-concreto-bianco_74190-8189.jpg'" class="card-img-top" alt="Immagine prodotto"></div>
</a>
    <div class="card-body">
      <h5 class="card-title">{{cardData.prodotto.titolo}}</h5>
      <div class="d-flex justify-content-around">
        
        <div>
            <span matTextPrefix>€&nbsp;</span>
            <span>{{cardData.prodotto.prezzo}}</span>
        </div>
        <button class="btn btn-warning text-dark fw-bold" (click)="addCart()">add to cart</button>
      </div>
    
      
    </div>
  </div>