.hero {
    background-image: url('../../../assets/img/cane\ con\ palla.avif');
    height: 90vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: 1000;
    font-size: 100px;
    font-family: 'Chaloops' !important;
}

.text-hero {
    font-family: 'Chaloops' !important;
    color: rgb(255, 242, 191);
} 

@font-face {
    font-family: 'Chaloops';
    src: url('../../assets/fonts/Chaloops-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
  .cat {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../assets/img/gatto-home.avif') no-repeat center center/cover;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .my-text {
    font-family: 'Chaloops' !important;
    color: rgb(255, 242, 191);
    font-size: 70px;
    font-weight: bold;
  }

  .my-text-2 {
    font-family: 'Chaloops' !important;
    color: rgb(255, 242, 191);
    font-size: 50px;
    font-weight: bold;
  }

  .text-color {
    font-family: 'Chaloops' !important;
    color: rgb(255, 242, 191);
  }

  .my-p {
    padding: 150px 0;
  }

  .dog {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../assets/img/cane-home.avif') no-repeat center center/cover;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .bird {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../assets/img/uccello-home.avif') no-repeat center center/cover;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .fish {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../assets/img/pesce-home.avif') no-repeat center center/cover;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .zoom {
    transition: transform 0.3s ease;
  }
  
  .zoom:hover {
    transform: scale(1.05); 
  }

  .my-gap {
    gap: 100px;
    padding-top: 200px !important;
  }

  .customer {
    background-image: url('../../assets/img/doggo-leopardiano.jpeg');
    aspect-ratio: 1;
    background-size: contain;
  }

  
  .green {
    background-color: rgb(133, 124, 72);
    aspect-ratio: 1;
  }

  .johny {
    background-image: url('../../assets/img/doggo-con-osso.jpeg');
    aspect-ratio: 1;
    background-size: cover;
  }

  .purple {
    background-color: rgb(87, 85, 125);
    aspect-ratio: 1;
  }

  .paco {
    background-image: url('../../assets/img/doggo-fotogenico.jpeg');
    aspect-ratio: 1;
    background-size: contain;
  }

  .orange {
    background-color: rgb(79, 108, 254);
    aspect-ratio: 1;
  }

  .mika {
    background-image: url('../../assets/img/cani-faccia-ebete.jpeg');
    aspect-ratio: 1;
    background-size: contain;
  }

  .red {
    background-color: rgb(248, 141, 88);
    aspect-ratio: 1;
  }